<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<localRepository>D:\04step2\00push_code0815_651\651_Repo</localRepository>
	<servers>
		<!-- 私服用户配置 -->
		<server>
			<id>releases</id>
			<username>6ac7b63024ac4b1e94cc5ec253094f97_2996bd9e7c184665b5ac0fdcf9023a91</username>
			<password>=p9CF5]j7-</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>6ac7b63024ac4b1e94cc5ec253094f97_2996bd9e7c184665b5ac0fdcf9023a91</username>
			<password>=p9CF5]j7-</password>
		</server>
		<server>
		<id>z_mirrors</id>
		</server>
	</servers>
	<mirrors>
		<mirror>
			<id>z_mirrors</id>
			<mirrorOf>*,!releases,!snapshots</mirrorOf>
			<url>https://repo.huaweicloud.com/repository/maven/</url>
		</mirror>
	</mirrors>

	<profiles>
		<profile>
			<id>MyProfile</id>
			<repositories>
				<repository>
					<id>releases</id>
					<url>https://devrepo-cn-south-1.devcloud.huaweicloud.com/01/nexus/content/repositories/6ac7b63024ac4b1e94cc5ec253094f97_1_0/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>false</enabled>
					</snapshots>
				</repository>
		<repository>
		<id>snapshots</id>
		<url>https://devrepo-cn-south-1.devcloud.huaweicloud.com/01/nexus/content/repositories/6ac7b63024ac4b1e94cc5ec253094f97_2_0/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
						<snapshots>
		<enabled>true</enabled>
		</snapshots>
		</repository>
			</repositories>
		</profile>

	</profiles>
	<proxies>
		<proxy>
			<id>optional</id>
			<active>true</active>
			<protocol>http</protocol>
			<username>账户</username>
			<password>密码</password>
			<host>proxy.huawei.com</host>
			<port>8080</port>
			<nonProxyHosts>local.host|127.0.0.1|*.huawei.com|100.126.29.18|100.112.77.54</nonProxyHosts>
		</proxy>
	</proxies>
	<activeProfiles>
		<activeProfile>MyProfile</activeProfile>
	</activeProfiles>
</settings>
